* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
  color: aliceblue;
}

body {
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: 700px;
  margin: 100px auto;
  padding: 10px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background-color: rgba(27, 27, 50, 0.8);
  border-radius: 5px;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

h2 {
  font-size: 34px;
  font-weight: lighter;
}

p {
  font-size: 18px;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 1.3px;
}

input[type="submit"],
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: none;
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: 1px solid rgb(0, 4, 255);
}

select {
  width: 100%;
  color: gray;
  padding: 5px;
  border-radius: 4px;
  border: none;
}

select:focus {
  outline: 1px solid rgb(0, 4, 255);
}

input,
option {
  color: rgb(56, 55, 55);
  font-weight: lighter;
}

input[type="submit"] {
  background-color: rgb(38, 196, 91);
  padding: 10px;
  border: none;
  border-radius: 2px;
  color: white;
}

input[type="submit"]:hover {
  font-size: 1.1em;
}

input[type="radio"] {
  border: 0px;
  width: 1.1em;
  height: 1.1em;
  margin-right: 5px;
  margin-bottom: 10px;
}

.radio-grp {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.radio-grp label {
  margin-bottom: 6px;
}

input[type="checkbox"] {
  border: 0;
  width: 1.1em;
  height: 1.1em;
  margin-bottom: 10px;
}

input[type="checkbox"]:last-child,
input[type="radio"]:last-child {
  margin-bottom: none;
}

.checkbox-grp {
  display: flex;
  gap: 7px;
  align-items: center;
}

textarea {
  width: 100%;
  height: 6em;
  padding: 10px;
}
